img:nth-of-type(1) { /*corresponds with cc-avatar*/
  width: 150px;
}

a {
  color: #272727;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
}

a:hover {
  color: #696969;
}

.cc-horizontal-center {
  display: flex;
  text-align: center;
  justify-content: center;
}

.cc-title {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 150%;
}

.cc-subheader {
  color: #696969;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.cc-outer-wrap {
  display: inline-block;
  width: 65%;
}

.cc-inner-wrap {
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.cc-avatar {
  width: 35%;
}

.cc-bio {
  width: 65%;
  margin-top: 25px;
  text-align: left;
  font-family: 'Nunito Sans', serif;
  font-weight: 300;
  font-size: 90%;
  padding: 5px;
}

.cc-email {
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
}

/* div layout collapses into one column */
@media (max-width: 768px) {
  .cc-outer-wrap {
    width: 75%;
  }
  .cc-inner-wrap {
    flex-direction: column;
    }

  img:nth-of-type(1) {
    width: 115px;
  }

  .cc-avatar {
    width: auto;
    margin-top: 10px;
  }

  .cc-bio {
    width: auto;
    margin-top: 0px;
  }
}

/* cc-bio text takes up full width in mobile */
@media (max-width: 414px) {
  .cc-outer-wrap {
    width: 100%;
  }
}
