* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

.cc-avatar img {
  width: 150px;
}

a:not(.cc-title-link):not(.prev):not(.next):not(.cc-caption-link) {
  color: #272727;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
}

a.cc-title-link {
  color: #272727;
  text-decoration: none;
}

a:hover {
  color: #696969;
}

.cc-horizontal-center {
  display: flex;
  text-align: center;
  justify-content: center;
}

.cc-mostly-vertical-center {
  margin: 0;
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cc-title {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 150%;
}

.cc-subheader {
  color: #696969;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.cc-outer-wrap {
  display: inline-block;
  width: 65%;
}

.cc-inner-wrap {
  display: flex;
  margin: 0 auto;
}

.cc-avatar {
  width: 35%;
  margin-top: 25px;
}

.cc-bio {
  width: 65%;
  margin-top: 25px;
  text-align: left;
  font-family: 'Nunito Sans', serif;
  font-weight: 300;
  font-size: 90%;
  padding: 5px;
}

.cc-portfolio {
  margin-top: 25px;
}

.cc-portfolio-item img{
  width: 100%;
  height: auto;
}

.cc-portfolio-item:hover {
  opacity: 0.7;
  transition: 0.4s ease;
}

.cc-email {
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
}

.cc-caption {
  width: 100%;
  font-family: 'Nunito Sans', serif;
  font-weight: 300;
  font-size: 90%;
  color: white;
  position: absolute;
  margin-top: 10px;
  left: 0;
  right: 0;
}

a.cc-caption-link {
  font-family: 'Nunito Sans', serif;
  font-weight: 600;
  color: #79BAEC;
  text-decoration: none;
}

a.cc-caption-link:hover {
  color: #C2DFFF;
}

/* BEGIN COLCADE CSS - ENABLES MASONRY LAYOUT FOR PORTFOLIO ITEMS
css and js from: https://github.com/desandro/colcade */

.grid:after {
  display: block;
  content: '';
  clear: both;
}

.grid-col {
  float: left;
  width: 49%;
  margin-right: 2%;
}

.grid-col--4 { margin-right: 0; }

/* hide two middle */
.grid-col--2, .grid-col--3 { display: none; }

.grid-item {
  min-height: auto;
  margin-top: 15px;
}

.grid-item img {
  display: block;
  width: 100%;
  cursor: pointer;
}

/* END COLCADE CSS */

/* BEGIN LIGHTBOX - ENABLES SLIDESHOW GALLERY WHEN IMAGE IS CLICKED
css and script adapted from: https://www.w3schools.com/howto/howto_js_lightbox.asp */

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #282828;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  height: auto;
  width: auto;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 5px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

.mySlides img {
  max-width: 100%;
  max-height: 75vh;
  display: block;
  margin: 0 auto;
  padding: 0;
  vertical-align: middle;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #D3D3D3;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* END LIGHTBOX CSS */

/* BEGIN MEDIA QUERIES */

/* div layout collapses into one column */
@media (max-width: 768px) {
  .cc-outer-wrap {
    width: 75%;
  }
  .cc-inner-wrap {
    flex-direction: column;
    }

  .cc-avatar img {
    width: 115px;
  }

  .cc-avatar {
    width: auto;
    margin-top: 10px;
  }

  .cc-bio {
    width: auto;
    margin-top: 0px;
  }

  .cc-column {
    flex: 50%;
  }

}

/* cc-bio text takes up full width in mobile */
@media (max-width: 414px) {
  .cc-outer-wrap {
    width: 100%;
  }
  .cc-column {
    flex: 100%;
  }
}

@media ( min-width: 768px ) {
  .grid-col { width: 32%; }
  .grid-col--2 { display: block; }
}

@media ( min-width: 1200px ) {
  .grid-col { width: 23.5%; }
  .grid-col--2, .grid-col--3 { display: block; }
}


