div.cc-footer-image {
  content:url('/img/footer_image.png');
  max-width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

a {
  color: #272727;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
}

a:hover {
  color: #696969;
}

.cc-vertical-center {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.cc-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 150%;
  margin-top: 25px;
}

.cc-subheader {
  color: #696969;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.cc-wrap {
  display: flex;
  width: 65%;
  margin: 0 auto;
}

.cc-photo {
  width: 35%;
  margin-top: 20px;
}
.cc-bio {
  width: 65%;
  margin-top: 25px;
  text-align: left;
  font-family: 'Nunito', serif;
  font-weight: 300;
  font-size: 90%;
}

.cc-email {
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
}

/* Responsive layout - makes the two columns stack on top of each other
instead of next to each other */
@media (max-width: 800px) {
  body {
    margin-bottom: 0;
  }

  div.cc-footer-image {
    content:url('/img/small_footer_image.png');
    position: relative; /* Keeps footer image stuck to bottom of page */
  }

  .cc-wrap {
    flex-direction: column;
    width: 95%;
  }

  .cc-photo,
  .cc-bio {
    width: auto;
  }
}

@media (max-width: 450px) {
  div.cc-footer-image {
    position: fixed; /* Keeps footer image stuck to bottom of page */
  }
}